<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90888433148-beq3a1ainvofc6348sh5igiana90rvlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90888433148-beq3a1ainvofc6348sh5igiana90rvlo</string>
	<key>API_KEY</key>
	<string>AIzaSyBOtzaiiau-CDJ9eM8oBJmfrZB0K_NOR14</string>
	<key>GCM_SENDER_ID</key>
	<string>90888433148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gemsRecords</string>
	<key>PROJECT_ID</key>
	<string>gem-record</string>
	<key>STORAGE_BUCKET</key>
	<string>gem-record.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90888433148:ios:ed7acb251faf2871035679</string>
</dict>
</plist>